main {
  @include flexColumnCenter(column, center);
  border: 1px solid #333;
  width: 800px;

  .perfil {
    text-align: center;
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    h2 {
      margin: 0;
      font-size: 24px;
      color: #333;
    }
    p {
      margin: 5px 0;
      font-size: 18px;
      color: #666;
    }
    .redes-sociales {
      @include flexColumnCenter(row, space-between);
      list-style: none;
      .icon {
        width: 40px;
        height: 40px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
